[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"


[tool.poetry]
name = "bods-client"
description = "A Python client for the Department for Transport Bus Open Data Service API"
version = "0.3.0"
license = "MIT"

authors = ["Ciaran McCormick"]

readme = "README.md"

repository = "https://github.com/ciaranmccormick/python-bods-client"

keywords = []

classifiers = [
  "Development Status :: 3 - Alpha",
  "Intended Audience :: Developers",
  "Operating System :: OS Independent",
  "Topic :: Software Development :: Libraries :: Python Modules",
]

[tool.poetry.dependencies]
pydantic = "^1.7.3"
python = "^3.7"
python-dateutil = "^2.8.1"
requests = "^2.25.1"
gtfs-realtime-bindings = "^0.0.7"

[tool.poetry.dev-dependencies]
black = "^20.8b1"
doc8 = "^0.8"
flake8-pytest-style = "^1.3"
ipdb = "^0.13.4"
ipython = "^7.20.0"
isort = "^5.7.0"
m2r2 = "^0.2"
mypy = "^0.800"
pytest = "^6.2"
pytest-cov = "^2.11"
pytest-randomly = "^3.5"
safety = "^1.10"
sphinx = "^3.5"
sphinx-autodoc-typehints = "^1.11"
tomlkit = "^0.7"
flake8 = "^3.8.4"
